<html>
    <head>
    <title>Login Page</title>
    <link rel="stylesheet" href="/static/style.css">
    </head>
<body>
    <h1>Login</h1>
    <label><b>
        Username
    </b></label>
    <input type="text" name="Uname" id="Uname" placeholder="Username">
    <br></br>
    <label><b>
        Password
    </b></label>
    <input type="password" name="pwd" id="pwd" placeholder="Password">
    <br></br>
    <input type="button" name="login" id="login" value="Login">
    <br></br>
    <p>Don't have an account yet? <a href="Register.html">Register Here</a></p>
</body>
</html>