<html>
    <head>
    <title>Registration Page</title>

    </head>
<body>
    <h1>Registration Form</h1>
    <p>Please fill up the form to create an account</p>
    <hr>
    <label for="Firstname"><b>Enter First Name</b></label>
    <input type="text" placeholder="Enter First Name" name="Firstname">
    <label for="Lastname"><b>Enter Last Name</b></label>
    <input type="text" placeholder="Enter Last Name" name="Lastname">
    <label for="Username"><b>Enter Username</b></label>
    <input type="text" placeholder="Enter Username" name="Username">
    <label for="pwd"><b>Enter Password</b></label>
    <input type="password" placeholder="Enter Password" name="pwd">
</body>
</html>